---
import "../styles/style.css";
import Headertop from "../components/Headertop.astro";
import Navleft from "../components/Navleft.astro";
import Cardsrow from "../components/Cardsrow.astro";
import Bottomelement from "../components/Bottomelement.astro";
import MainLayout from "../components/MainLayout.astro";
---

<MainLayout title="Search">
  <body>
    <main>
      <Headertop hasSearch={true} /><div class="first_div">
        <Cardsrow overskrift="Browse All" />
      </div>
    </main>
    <script src="../js/index.js"></script>
  </body>
</MainLayout>
