---
import Button from "./Button.astro";
const { hasSearch } = Astro.props;
---

<article>
  <div class="div_1">
    <p class="left_arrow">&#8249</p>
    <p>&#8250</p>
    {
      hasSearch && (
        <div id="searchbar">
          <>
            <img src="../public/icons/search-icon.svg" alt="icon" />
            <input type="text" />
          </>
        </div>
      )
    }
  </div>
  <div class="div_2">
    <Button variant="secondary" hasIcon={false}>Sign up</Button>
    <Button variant="primary" hasIcon={false}>Log in</Button>
  </div>
</article>

<style>
  article {
    background-color: rgb(22, 22, 22);
    width: 84%;
    position: fixed;
    left: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 8%;
    justify-content: space-between;
  }

  .left_arrow {
    margin-right: 70px;
  }

  p {
    display: inline;
    color: rgb(208, 208, 208);
    font-size: 3rem;
    margin: 0;
  }
  /* button {
    border-radius: 25px;
    padding: 1% 2.2% 1% 2.2%;
    font-weight: 600;
    font-size: 90%;
    border: none;
    margin: 1%;
  } */
  /* div {
    display: inline;
  } */
  .div_1 {
    display: inline-flex;
    align-self: center;
    margin-left: 45px;
  }

  .div_2 {
    width: 28%;
    justify-content: space-evenly;
    display: flex;
  }
  /* button:first-child {
    background-color: rgb(22, 22, 22);
    color: rgb(208, 208, 208);
    margin-right: 0;
  } */

  button:last-child {
    margin-left: 0;
  }

  input {
    width: 200px;
    border-style: none;
  }
  #searchbar {
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    height: 90%;
    align-self: center;
    margin-left: 20px;
  }
  #searchbar img {
    justify-self: center;
  }
</style>
