---
import "../styles/style.css";
import Headertop from "../components/Headertop.astro";
import Navleft from "../components/Navleft.astro";
import Cardsrow from "../components/Cardsrow.astro";
import Bottomelement from "../components/Bottomelement.astro";
const title = Astro.props.title;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <slot />

</html>
